@media (max-width: 767px) {
  .header {
    &__descr {
      justify-content: space-around;

      &-items {
        min-width: 300px;
      }
      &-links {
        display: none;
      }
    }
  }
}

@media (max-width: 575px) {
  .header {
    &__navigation {
      padding-top: 15px;
    }

    &__descr {
      display: none;
    }
  }

  .menu {
    min-width: 330px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    widows: 50%;
    height: 100vh;
    padding: 20px 14px;
    background-color: #323232;
    transition: 0.6s all;
    &-active {
      left: 0;
    }
  }

  .hamburger {
    display: block;

    width: 45px;
    height: 12px;
    span {
      display: block;
      height: 5px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 5px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }

  .sponsors-active {
    left: 230px;
  }

  .exhibitors-active {
    left: 230px;
  }

  .speakers-active {
    left: 230px;
  }

  .media-active {
    left: 230px;
  }

  .btns {
    &__mc2 {
      display: none;
    }
  }

  .border {
    border: none;
  }
}
