.promo {
    margin-top: 15px;
    min-height: 440px;
    background: url('../images/bg/bg1.jpg') center (center/cover) no-repeat;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    &__announce {
        margin-left: auto;
        width: 505px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            padding: 10px;
            min-width: 425px;
            min-height: 180px;
            border: 1px solid #fff;
        }
        &-content {
            min-height: 158px;
            width: 100%;
            background-color: rgba(245, 239, 235, .8);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        &-descr {
            text-align: start;
            margin-left: 20px;
        }
        &-title {
            color: $main_color1;
            font-size: 14px;
            font-weight: 400;
        }
        &-text {
            color: #000;
            font-size: 13px;
            font-weight: 400;
        }
        &-subtitle {
            color: #757575;
            font-size: 14px;
            font-weight: 300;
        }
    }
    &__btn {
        &-prev {
            cursor: pointer;
            border: none;
            background: rgba(0, 0, 0, 0);
        }
        &-next {
            cursor: pointer;
            border: none;
            background: rgba(0, 0, 0, 0);
        }
    }
}